div.panel.bg2 div.inner {
    display  : flex;
    flex-wrap: wrap;
}

div.adyviewfriends.one-friend {
    margin    : 5px;
    text-align: center;
}

div.adyviewfriends.one-friend span {
    display: inline-block;
}

div.adyviewfriends.one-friend img {
    width: 50px;
}